.hidden {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', sans-serif;
}

html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: sans;
}

header {
    padding: 16px;
    position: absolute;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
}

#topimage {
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=3f9c78df0edb464244bbabb04d1797d8);
    background-size: cover;
    height: 512px;
    margin: 0;
    display: block;
}

#topbutton {
    transition: all, 0.15s;
}

#content {
    width: 75%;
    margin-left: 12.5%;
    margin-top: 32px;
    padding: 16px;
    color: #424242;
    background-color: white;
}

#project-container {
    width: 100%;
}

.project-tile {
    width: 33.333333333333%;
    position: relative;
    float: left;
}

.project-tile img {
    width: 100%;
    height: 100%;
}

.project-tile-shape {
    width: 100%;
    display: block;
}

.project-tile-content {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.project-tile-desc {
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px:
    position: absolute;
    background-color: #2BB384;
    color: white;
    font-family: 'Comfortaa', sans-serif;
    font-size: 34px;
    transition: opacity, 0.5s;
}

.project-tile-desc > div {
    margin: 32px;
}

.project-tile-desc:hover {
    opacity: 1;
}
