.hidden {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', sans-serif;
}

html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    padding: 32px;
    position: absolute;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5em;
}

#headlogo {
    height: 64px;
}

#topimage {
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=3f9c78df0edb464244bbabb04d1797d8);
    background-size: cover;
    height: 512px;
    margin: 0;
    display: block;
}

#topbutton {
    transition: all, 0.15s;
}

#content {

}

.contentspan {
    max-width: 100%;
    padding: 32px;
    background-color: #F8BE41;
    color: white;
    font-family: sans-serif;
    text-align: center;
}
.contentspan h1 {
    font-family: 'Quicksand', sans-serif;
}